body {
    background-color:red;
}

#wrapper {
    background-color:darkblue;
    width:960px;
    margin:auto;
    padding:30px;
    border-style:double; 
    border-color:yellow; 
    border-width:thick;
}

h1 {
    color:yellow;
    font-family: Gill Sans, sans-serif;
    text-align:center;
}

main {
    color:yellow;
    font-family:Courier New, monospace;
    text-align:center;
    line-height: 180%;
}

footer {
    font-size:18px;
    text-align: right;
    color:yellow;
    padding-top:30px;
    font-family: Gill Sans, sans-serif;
}