@font-face {
    font-family: dancingscript;
    src: url("../fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: "optima", sans-serif;
}

.header {
  background-color: #ae97bd;
  position: relative;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  color: #414141;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

.header .logo {
  color: #fff;
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 12px 10px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu button */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* responsive menu */

@media only screen and (max-width: 768px){
    .header ul{
        background-color: #fff;
    }  
    .header li a {
    padding: 15px;
    border-bottom: 1px dotted #ddd;
  
  }
}

@media only screen and (min-width: 768px) {
    .menu-wrapper{
        background: #ae97bd;
        height: 55px;
        line-height: 55px;
        width: 100%;
    }
  .header li {
    float: left;
  }
    .header .logo{
        line-height: 1;
    }
  .header li a {
    color: #fff;
    padding: 0px 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* desktop and parent*/

#wrapper {
    max-width: 1200px;
    margin: auto;
}

.menu1boxes {
    float: left;
    width:100%;
    padding: 10px;
    background-color: #ae97bd;
    border: 1px solid #32223d;
    text-align:center;
}

.menu1boxes p{
    font-size: 1.2em;
}

.menu1boxes h2{
    font-size: 2.5em;
}

#headerphoto {
    width: 100%;
}

.menu1box1 {
    background-color:red;
}

a {
    text-decoration:none;
    color: white;
}

a:hover {
    text-decoration:none;
    color:#32223d;
}

a:visited {
    text-decoration:none;
    color:black;
}

.aboutus, .events, .column3, .ads, .petdesc {
    border: 2px solid black;
    overflow:auto;
}

.aboutushead, .eventshead, .adshead, .subhead {
    padding: 15px 15px 8px;
    font-size: 2.6em;
}

.column2 p, .column2a p {
    padding: 0 15px 15px;
    font-size: 1.3em;
}

.column2 h2, .column2a p {
    padding: 15px 15px 5px;
}

.column2 h3, .column2a p {
    padding: 5px 15px 5px;
    font-size:1.4em;
}

.eventimg1, .eventimg2, .eventimg3 {
    width:50%;
    margin: 15px 10px;
}

.eventimg1, .eventimg3 {
    float:left;
}

.eventimg2 {
    float:right;
}

.woof {
    float:left;
}

.col2events{
    width:100%;
    display:block;
    overflow:hidden;
}

.col2events p{
    margin-top: 10px;
    margin-bottom:auto;
    
}

.column1, .column2, .column3, .column2a{
    float:left;
}

.column2 {
    width:50%;
}

.column1, .column3 {
    width:25%;
}

.column2a {
    width:75%;
}

#textheavy {
    padding:45px;
}

.column2a a {
    color:black;
}

.column3 {
    text-align: center;
}

.animaldesc, .animaldesc2 {
    padding: 12px;
}

.animaldesc p, {
    font-size: 1.2em;
}

.animaldesc2 {
    width: 50%;
    display: block;
    float:left;
}

.animaldesc2 h2 {
    text-align: center;
    font-size: 2.3em;
}

.animalpdesc2 {
    text-align:justify;
}

.animalhead {
    padding: 20px 0 10px;
}

#thankyou {
    font-size: 5em;
    margin: 10px 0;
    text-align:center;
    font-family: dancingscript;
}

.events h2 {
    font-size: 2.3em;
    padding: 10px 15px;
}

.events h3 {
    font-size: 2em;
}

.featuredvolunteers {
    width: 50%;
    padding: 20px 15px;
    float: left;
    text-align: center;
}

.fvimg {
    width: 100%;
}

.events li {
    padding: 7px 25px;
    font-size: 1.2em;
}

.singleline li {
    padding: 0px 25px;
}

.indpic {
    width: 100%;
}

.center {
    width: 90%;
    margin: auto;
}

.petdesc h1 {
    text-align: center;
    font-size: 3em;
}

.petdesc p {
    padding-bottom: 10px;
}

#backbutton {
    font-size: 1.4em;
}

footer li {
    display:inline;
    padding: 10px;
    text-decoration: underline;
}

.footerinfo {
    float:left;
    padding: 50px 130px 50px 40px;
}

.footer {
    clear:both;
    background-color: #ae97bd;
    overflow:auto;
    color: white;
}

header a {
    font-size: 0.85em;
}

footer a:visited {
    color:white;
}

footer ui {
    font-size: 1.5em;
}

.featureanimal {
    display:block;
    margin:auto;
    width: 80%
}

/* */

@media screen and (max-width:1000px) {
    .menu1pdesc {
        display:none;
        padding: 10px;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .menu1boxes {
        width: 100%;
  }
    
    .column1, .column2, .column3, .column2a {
        width:100%
    }
    
    #headerphoto {
        position: relative;
        width:100%;
    }
    
    body {
        text-align:center;
    }
    
    .aboutushead, .eventshead,.animalhead, .subhead,  {
        font-size:3em;
        margin-bottom: 15px;
        margin-top: 40px;
    }
    
    .animalpdesc2 {
        text-align:center;
    }
    
    .eventimg1, .eventimg2, .eventimg3 {
        float:none;
        width:80%;
    }
    
    .woof {
        float:none;
    }
    
    .events h2 {
        font-size:2.5em;
    }
    
    .column2 p, .column3 p, .column2a p{
        padding: 0 40px 40px;
        font-size: 1.7em;
    }
    
    .ads h3 {
        font-size: 2em;
    }
    
    .ads h1 {
        font-size:3em;
    }
    
    .menu1pdesc {
        display:inline;
    }
    
    .animaldesc h2 {
        font-size: 2.5em;
        padding-bottom: 15px;
    }
    
    .animaldesc2 {
        width: 100%
    }
    
    header a {
        font-size: 2em;
    }
    
    .events h2 {
        font-size: 2.5em;
    }
    
    .events ui {
        font-size: 1.4em;
        list-style: none;
    }
    
    .volunteerhead {
        font-weight: 700;
        font-size: 1.3em;
    }
    
    #textheavy {
        padding: 20px 10px;
    }
    
    #textheavy h2 {
        line-height: 0.9em;
        padding-top: 30px;
    }
    
    .featuredvolunteers {
        width: 100%;
    }
    
    footer {
        text-align:center;
    }
    
    footer ui {
        margin: 10px;
        float: right;
        padding: 10px 70px 10px 10px;
    }
    
    footer li {
        display:block;
        text-decoration: underline;
        padding: 4px;
    }
    
    .footerinfo {
    float:left;
    padding: 50px 0 50px 40px;
}
    
    #breaks {
        display:none;
    }
}